---
http_interactions:
- request:
    method: get
    uri: https://api.hipchat.com/v2/room?auth_test=true&auth_token=ABCDE
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "error": {
            "code": 401,
            "message": "Invalid OAuth session",
            "type": "Unauthorized"
          }
        }
  recorded_at: Tue, 29 Oct 2013 17:06:21 GMT
recorded_with: VCR 2.4.0
