---
http_interactions:
- request:
    method: get
    uri: https://api.hipchat.com/v2/room?auth_test=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '1383066300.0'
    body:
      encoding: UTF-8
      string: '{"success": {"code": 202, "message": "This auth_token has access to
        use this method.", "type": "Accepted"}}'
  recorded_at: Tue, 29 Oct 2013 17:04:56 GMT
recorded_with: VCR 2.4.0
